.header-main {
  background-color: rgb(210, 204, 204);
  height: 3rem;
  display: flex;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  justify-content: space-between;
  // z-index: 20;
}
.nav-bar {
  width: 70%;
  margin-right: 1rem;
}
.header-menu-- {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1.5rem;
  > li > a {
    color: rgb(79, 75, 75);
    &:hover {
      color: black;
    }
  }
  > li > button {
    border: none;
    background-color: rgb(77, 77, 233);
    padding: 0.2rem;
    border-radius: 1px;
    color: white;
    &:hover {
      background-color: rgb(45, 45, 211);
    }
  }
}
